*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notFound__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font: 18px Arial;
    position: relative;
    overflow: hidden;
    color: #fff;

}

.notFound__wrapper a{
    color: #fff;
    text-decoration: none;
    font: 18px Arial;
    padding: 10px 0;
    display: inline-block;
}
.video{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}
.video video{
    width: 100%;
}
.notFound{
    padding: 65px 40px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid #ccc;
    text-align: center;
}
